// 转化时间格式
var timestampToTime = function (timestamp, bool) {
  if (timestamp !== '0') {
    var date = getDate(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
    var Y = date.getFullYear() + '.';
    var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
    var D = fileter(date.getDate()) + ' ';
    var h = fileter(date.getHours()) + ':';
    var m = fileter(date.getMinutes()) + ':';
    var s = fileter(date.getSeconds());
    if (bool) {
      return Y + M + D;
    } else {
      return Y + M + D + h + m + s;
    }
  } else {
    return;
  }
}
var fileter = function (data) {
  return data < 10 ? "0" + data : data
}
// 判断优惠券是否已抢光  或者被选择
var isoverdue = function (buyout, index, select) {
  // console.log(index, select)
  if (arguments.length == 3) {
    if (index == select) {
      return 'disabled';
    } else {
      return "cuopon_list";
    }
  }
  // else{
  //   return getDate().getTime() > end * 1000;
  // }
}
// 折扣处理
var toFloat = function (num) {
  return num / 10
}
module.exports = {
  timestampToTime: timestampToTime,
  parseFloat: parseFloat,
  isoverdue: isoverdue,
  toFloat: toFloat
};