var fixAmount = function (amount) {
  return amount.toFixed(2);
}

var isEnough = function (inputAmount, balance) {
  if (inputAmount <= balance) {
    console.log(true);
    return true;
  } else {
    console.log(false);
    return false;
  }
}

module.exports = {
  fixAmount: fixAmount,
  isEnough: isEnough
};