var fixAmount = function(amount) {
  if (amount <= 0) {
    return '';
  }
  return amount.toFixed(2);
}

var isEnough = function(inputAmount,balance) {
  if (inputAmount <= balance && balance != 0) {
    return true;
  } else {
    return false;
  }
}

module.exports = {
  fixAmount: fixAmount,
  isEnough: isEnough
};